<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento do horário, confira o detalhe abaixo.</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Data e hora: </strong> {{ data }} <br />
  <br />
  <small>
    O horário está novamente disponível para agendamento
  </small>
</p>
